* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


.wrapper { 
  height: 100vh;
  display: grid;
  justify-items: center;
  background-color: gainsboro;
  /* background-color: rebeccapurple; */
}

.h2-text {
  height: 95px;
  background-color: gray;
}

h2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95px;
  font-size: 1vw;
}

label {
  margin-left: 16px;
}

input {
  height: 46px;
  width: 343px;
  margin: 16px;
  font-size: 1vw;
}

button {
  width: 343px;
  height: 72px;
  margin: 16px;
  margin-top: 70px;
  font-size: 1vw;
}

.register-form {
  /* background-color: green; */
  margin-top: 140px;
}

.register {
  margin-top: 100px;
  height: 798px;
  width: 375px;
  border-radius: 6px;
  background-color: white;
}